<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @author.author %>
</p>

<p>
  <strong>Paperpost:</strong>
  <%= @author.paperpost_id %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
